<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net461" />
  <package id="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="net461" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="net461" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="net461" />
  <package id="Xam.Plugin.Badge" version="1.0.0.0" targetFramework="net461" />
  <package id="Xam.Plugin.Connectivity" version="2.3.0" targetFramework="net461" />
  <package id="Xam.Plugin.DeviceInfo" version="2.1.2" targetFramework="net461" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="net461" />
  <package id="Xam.Plugin.Media" version="2.6.2" targetFramework="net461" />
  <package id="Xam.Plugins.Notifier" version="2.1.0" targetFramework="net461" />
</packages>